<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light justify-content-between">

  <div class="container">
    <a routerLink="/" class="navbar-brand text-muted">EA Coding Task</a>
  </div>

</nav>


<div>

  <router-outlet></router-outlet>

</div>


<footer class="my-5 border-top container">

  <div class="row justify-content-center px-5 py-3">
    <div class="col-lg-4">
      <h3>Coding Task</h3>
      <small class="d-block mb-3 text-muted">©2019</small>
    </div>

    <div class="col-lg-5">
      <h5>Contact</h5>
      <p>For information please contact the publisher</p>
      <ul class="list-unstyled text-small">
        <li>Warren Dodsworth</li>
        <li><a class="text-muted" href="mailto:warren.dodsworth@gmail.com">warren.dodsworth@gmail.com</a></li>
      </ul>
    </div>
  </div>

</footer>
